<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Black Home</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/font-awesome.css" rel="stylesheet">
    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link href="css/theme.css" rel="stylesheet">
    <link href="css/custom.css" rel="stylesheet">
    <link href="css/slick.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/jquery.mCustomScrollbar.css">
    <link href="css/slick-theme.css" rel="stylesheet">
    <link rel="stylesheet" href="css/slick.css">
    <link rel="stylesheet" href="css/slick-theme.css">


</head>
<body>

    <header class="header" id="home">
		<div class="hdr-shade"></div>
            <div class="container-fluid">
                <div class="container menu-bar">
                    <div class="row">
                        <div class="col-md-12 pr">
                            <div class="top-bar">
                                <div class="col-md-4 col-sm-4 pull-left support-section">
                                   <p>CONTACT US</br><span>support@absolute.com</span></p>
                                </div>
                                <div class="col-md-4 col-sm-4 text-center">
                                    <div class="logo">
                                    	<a class="" href=""><img src="images/logo.png" alt=""/></a>
                                    </div>
                                </div>
                                <div class="col-md-4 col-sm-4 social-media pull-right">
                                    <ul>
                                        <li><a href=""><span><i class="fa fa-facebook-official"></i></span></a></li>
                                        <li><a href=""><span><i class="fa fa-envelope"></i></span></a></li>
                                        <li><a href=""><span><i class="fa fa-mobile"></i></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid" id="header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 pr">
                            <div class="primary-menu">
                                <nav class="navbar navbar-inverse mb">

                                    <div class="container-fluid">
                                        <!-- Brand and toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="collapse navbar-collapse no-padding" id="bs-example-navbar-collapse-1">
                                            <ul class="nav navbar-nav">
                                                <li class="active"><a href="#home">Home</a></li>
                                                <li><a href="#ceo">CEO Message</a></li>
												<li><a href="#work">Our Work</a></li>
												<li><a href="#about">About Us</a></li>
												<li><a href="#team">Our Team</a></li>
												<li><a href="#contact">Contact</a></li>
                                                <li><a href="#office">Our Offices</a></li>
                                            </ul>
                                        </div><!-- /.navbar-collapse -->
                                    </div><!-- /.container-fluid -->


                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 banner-text">
                        <h1>Flexible & Powerful</h1>
                        <p>Real Estate Theme</p>
                        <a href="javascript:void(0);" class="start">Start Now</a>
                    </div>
                </div>
            </div>

        </header>

    <div class="main">

      <section class="main-section">
            <div class="container-fluid">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="col-md-4 col-sm-4 col-xs-12 color-section" id="about">
                                <div class="about-section caption color-panel text-center">
                                    <div class="first-panel">
                                        <img class="img-responsive" src="images/about-img.png" alt="">
                                        <h3>About Us</h3>
                                        <img src="images/line.jpg" alt="">
                                    </div>
                                    <div class="caption__overlay mCustomScrollbar">
                                        <p class="caption__overlay__content">
                                            Alaska is a U.S. state situated in the northwest extremity of the North American continent. Bordering the state is Canada to the east, the Arctic Ocean to the north, and the Pacific Ocean to the west and south, with Russia (specifically, Siberia) further west across the Bering Strait.
                                             Alaska is a U.S. state situated in the northwest extremity of the North American continent. Bordering the state is Canada to the east, the Arctic Ocean to the north, and the Pacific Ocean to the west and south, with Russia (specifically, Siberia) further west across the Bering Strait.
                                              Alaska is a U.S. state situated in the northwest extremity of the North American continent. Bordering the state is Canada to the east, the Arctic Ocean to the north, and the Pacific Ocean to the west and south, with Russia (specifically, Siberia) further west across the Bering Strait.
                                               Alaska is a U.S. state situated in the northwest extremity of the North American continent. Bordering the state is Canada to the east, the Arctic Ocean to the north, and the Pacific Ocean to the west and south, with Russia (specifically, Siberia) further west across the Bering Strait.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 color-section" id="ceo">
                                <div class="ceo-section caption color-panel text-center">
                                    <div class="first-panel">
                                        <img class="img-responsive" src="images/ceo-img.png" alt="">
                                        <h3>Ceo Message</h3>
                                        <img src="images/line.jpg" alt="">
                                    </div>
                                    <div class="caption__overlay mCustomScrollbar">
                                        <p class="caption__overlay__content">
                                            Alaska is a U.S. state situated in the northwest extremity of the North American continent. Bordering the state is Canada to the east, the Arctic Ocean to the north, and the Pacific Ocean to the west and south, with Russia (specifically, Siberia) further west across the Bering Strait.
                                             Alaska is a U.S. state situated in the northwest extremity of the North American continent. Bordering the state is Canada to the east, the Arctic Ocean to the north, and the Pacific Ocean to the west and south, with Russia (specifically, Siberia) further west across the Bering Strait.
                                          Alaska is a U.S. state situated in the northwest extremity of the North American continent. Bordering the state is Canada to the east, the Arctic Ocean to the north, and the Pacific Ocean to the west and south, with Russia (specifically, Siberia) further west across the Bering Strait.
                                           Alaska is a U.S. state situated in the northwest extremity of the North American continent. Bordering the state is Canada to the east, the Arctic Ocean to the north, and the Pacific Ocean to the west and south, with Russia (specifically, Siberia) further west across the Bering Strait.
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 col-sm-4 col-xs-12 color-section">
                                <div class="contact-section caption color-panel text-center">
                                    <div class="first-panel">    
                                        <img class="img-responsive" src="images/contact-img.png" alt="">
                                        <h3>Contact</h3>
                                        <img src="images/line.jpg" alt="">
                                    </div>
                                    <div class="caption__overlay">
                                        <ul class="contact-address">
                                            <li><span><img src="images/address.png" alt=""></span><span class="second-portion">198 West 21th Street, Suite 721 New York</span></li>
                                            <li><span><img src="images/phone.png" alt=""></span><span class="second-portion">+923114065583 , 0426736782</span></li>
                                            <li><span><img class="msg-img" src="images/msg.png" alt=""></span><span class="second-portion">Alit25402@gmail.com</span></li>
                                        </ul>
                                        <img class="img-responsive second-line" src="images/second-line.jpg" alt="">
                                        <ul class="social-address">
                                            <li><a href=""><i class="fa fa-twitter"></i></a></li>
                                            <li><a href=""><i class="fa fa-facebook"></i></a></li>
                                            <li><a href=""><i class="fa fa-google-plus"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
      </section>

      <section class="property-sect" id="work">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12 pl">
                        <h2 class="head">Featured Works</h2>
                        <div class="col-md-4 col-sm-4 pr property-section">
                            <div class="img-container">
                                <div class="img-block"><img class="img-responsive" src="images/property_03.jpg"></div>
                            </div>

                            <div class="property-content">
                                <h2>Luxury House in 1 Kanal Luxury House in 1 Kanal</h2>
                                <p>DHA Phase 4 Lahore Luxury House in 1 Kanal</p>
                                <h5><strong>Price: </strong>12345679</h5>
                                <ul class="list-inline list-unstyled">
                                    <li><a href=""><img src="images/bed.png"> </a> </li>
                                    <li><a href=""><img src="images/location.png"> </a> </li>
                                    <li><a href=""><img src="images/car.png"> </a> </li>
                                </ul>
                            </div>
                             <a class="property-anchor" href="">View Detail</a>
                        </div>
                        <div class="col-md-4 col-sm-4 pr property-section">
                            <div class="img-container">
                                <div class="img-block"><img class="img-responsive" src="images/property_03.jpg"></div>
                            </div>

                            <div class="property-content">
                                <h2>Luxury House in 1 Kanal</h2>
                                <p>DHA Phase 4 Lahore</p>
                                <h5><strong>Price: </strong>12345679</h5>
                                <ul class="list-inline list-unstyled">
                                    <li><a href=""><img src="images/bed.png"> </a> </li>
                                    <li><a href=""><img src="images/location.png"> </a> </li>
                                    <li><a href=""><img src="images/car.png"> </a> </li>
                                </ul>
                            </div>
                             <a class="property-anchor" href="">View Detail</a>
                        </div>

                        <div class="col-md-4 col-sm-4 pr property-section">
                            <div class="img-container">
                                <div class="img-block"><img class="img-responsive" src="images/propety-2_03.jpg"></div>
                            </div>

                            <div class="property-content">
                                <h2>Luxury House in 1 Kanal</h2>
                                <p>DHA Phase 4 Lahore</p>
                                <h5><strong>Price: </strong>12345679</h5>
                                <ul class="list-inline list-unstyled">
                                    <li><a href=""><img src="images/bed.png"> </a> </li>
                                    <li><a href=""><img src="images/location.png"> </a> </li>
                                    <li><a href=""><img src="images/car.png"> </a> </li>
                                </ul>
                            </div>
                             <a class="property-anchor" href="">View Detail</a>
                        </div>

                        <div class="col-md-4 col-sm-4 pr property-section">
                            <div class="img-container">
                                <div class="img-block"><img class="img-responsive" src="images/property_03.jpg"></div>
                            </div>

                            <div class="property-content">
                                <h2>Luxury House in 1 Kanal</h2>
                                <p>DHA Phase 4 Lahore</p>
                                <h5><strong>Price: </strong>12345679</h5>
                                <ul class="list-inline list-unstyled">
                                    <li><a href=""><img src="images/bed.png"> </a> </li>
                                    <li><a href=""><img src="images/location.png"> </a> </li>
                                    <li><a href=""><img src="images/car.png"> </a> </li>
                                </ul>
                            </div>
                             <a class="property-anchor" href="">View Detail</a>
                        </div>
                        <a href="javascript:void(0)" id="loadMore">Show More</a>
                    </div>
                </div>
            </div>
        </div>
    </section>


     <section class="office-sect" id="office">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-sm-12">
                        <div class="card">
                            <ul class="nav nav-tabs" role="tablist">
                                <li role="presentation" class="active"><a href="#office1" aria-controls="office1" role="tab" data-toggle="tab">office 1</a></li>
                                <li role="presentation"><a href="#office2" aria-controls="office2" role="tab" data-toggle="tab">office 2</a></li>
                                <li role="presentation"><a href="#office3" aria-controls="office3" role="tab" data-toggle="tab">office 3</a></li>
                            </ul>

                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div role="tabpanel" class="tab-pane active" id="office1">
                                    <div class="flexslider">
                                        <ul class="slides">
                                            <li>
                                                <div class="address-office"> 
                                                    <h3>01</h3>
                                                    <h4>Office</h4>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="address-office">
                                                    <ul class="list-unstyled">
                                                        <li><span class="ftr-pic"><img src="images/home.png" alt="" /></span><p>DHA Phase 4, Block ff, house 43 lahore.</p> </li>
                                                        <li><span class="ftr-pic"><img style="width: 27px !important;" src="images/phone.png" alt="" /></span><p class="phone">0311-4065583</p> </li>
                                                        <li><span class="ftr-pic"><img src="images/envelope.png" alt="" /></span><p class="email">alit25402@gmail.com</p> </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="office2">
                                   <div class="flexslider">
                                        <ul class="slides">
                                            <li>
                                                <div class="address-office"> 
                                                    <h3>02</h3>
                                                    <h4>Office</h4>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="address-office">
                                                    <ul class="list-unstyled">
                                                        <li><span class="ftr-pic"><img src="images/home.png" alt="" /></span><p>DHA Phase 4, Block ff, house 43 lahore.</p> </li>
                                                        <li><span class="ftr-pic"><img style="width: 27px !important;" src="images/phone.png" alt="" /></span><p class="phone">0311-4065583</p> </li>
                                                        <li><span class="ftr-pic"><img src="images/envelope.png" alt="" /></span><p class="email">alit25402@gmail.com</p> </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div role="tabpanel" class="tab-pane" id="office3">
                                    <div class="flexslider">
                                        <ul class="slides">
                                            <li>
                                                <div class="address-office"> 
                                                    <h3>03</h3>
                                                    <h4>Office</h4>
                                                </div>
                                            </li>
                                            <li>
                                                <div class="address-office">
                                                    <ul class="list-unstyled">
                                                        <li><span class="ftr-pic"><img src="images/home.png" alt="" /></span><p>DHA Phase 4, Block ff, house 43 lahore.</p> </li>
                                                        <li><span class="ftr-pic"><img style="width: 27px !important;" src="images/phone.png" alt="" /></span><p class="phone">0311-4065583</p> </li>
                                                        <li><span class="ftr-pic"><img src="images/envelope.png" alt="" /></span><p class="email">alit25402@gmail.com</p> </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="team-sect" id="team">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">

                        <div class="col-md-6 col-sm-6 pr pl team-text">

                            <div class="tab-content">
                                <div class="tab-pane active" id="home-r">
                                    <h2>Muhammad Khuram</h2>
                                    <h4>(CEO)</h4>
                                    <ul>
                                        <li><a href="javascript:void(0);" title="Phone Number" data-toggle="popover" data-placement="top" data-content="03128857156"><i class="fa fa-mobile mob"></i></a></li>
                                        <li><a href="javascript:void(0);" title="Facebook" data-toggle="popover" data-placement="top" data-content="facebook.com"><i class="fa fa-facebook"></i></a></li>
                                        <li class="blue"><a href="javascript:void(0);" title="E-mail" data-toggle="popover" data-placement="top" data-content="atif502@gmail.com"><i class="fa fa-envelope"></i></a></li>
                                    </ul>
                                </div>
                                <div class="tab-pane" id="profile-r">2nd Tab</div>
                                <div class="tab-pane" id="messages-r">3rd Tab.</div>
                                <div class="tab-pane" id="settings-r">4th Tab.</div>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-6 pr pl">
                            <ul class="nav nav-tabs tabs-right">
                                <li class="active">
                                    <a href="#home-r" data-toggle="tab">
                                        <div class="img-container">
                                            <div class="img-block">
                                                 <figure><img class="img-responsive" src="images/team-1.jpg" alt="team-image" /></figure>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#profile-r" data-toggle="tab">
                                        <div class="img-container">
                                            <div class="img-block">
                                                 <figure><img class="img-responsive" src="images/team-2.jpg" alt="team-image" /></figure>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#messages-r" data-toggle="tab">
                                        <div class="img-container">
                                            <div class="img-block">
                                                 <figure><img class="img-responsive" src="images/team-3.jpg" alt="team-image" /></figure>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#settings-r" data-toggle="tab">
                                        <div class="img-container">
                                            <div class="img-block">
                                                 <figure><img class="img-responsive" src="images/team-4.jpg" alt="team-image" /></figure>
                                            </div>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
     
                
    </div>

     <footer id="office" class="footer">

      <div class="footer-top">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
                <div class="col-md-4 col-sm-4">
                    <div class="ftr-1 text-center">
                        <a href=""><img class="img-responsive" src="images/logo.png" alt=""></a>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,</p>
                        <ul>
                            <li><a href="javascript:void(0);" title="Phone Number" data-toggle="popover" data-placement="top" data-content="03128857156"><i class="fa fa-mobile mob"></i></a></li>
                            <li><a href="javascript:void(0);" title="Facebook" data-toggle="popover" data-placement="top" data-content="facebook.com"><i class="fa fa-facebook"></i></a></li>
                            <li class="blue"><a href="javascript:void(0);" title="E-mail" data-toggle="popover" data-placement="top" data-content="atif502@gmail.com"><i class="fa fa-envelope"></i></a></li>
                            
                        </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="ftr-menu text-center">
                        <ul>
                                <li><a href="#home">Home</a></li>
                                <li><a href="#about">About Us</a></li>
                                <li><a href="#work">Our Work</a></li>
                                <li><a href="#team">Our Team</a></li>
                                <li><a href="#ceo">CEO Message</a></li>
                                <li><a href="#contact">Contact Us</a></li>
                                <li><a href="#office">Offices</a></li>
                            </ul>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="contact-form">
                        <form action="#" method="post" accept-charset="utf-8">
                            <div class="">
                              <div class="row">
                                    <div class="col-lg-6 col-md-6 col-sm-6 form-group pr">
                                        <input class="form-control" name="name" placeholder="Name" type="text" required />
                                    </div>
                                    <div class="col-lg-6 col-md-6 col-sm-6 form-group pr">
                                        <input class="form-control" name="email" placeholder="E-mail" type="text" required />
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group pr">
                                        <textarea class="form-control textheight" placeholder="Message..." rows="6" name="comment" required></textarea>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12 form-group pr">
                                        <input type="submit" class="btn btn-success" value="Send"/>
                                    </div>
                                </div>
                            </div> 
                        </form>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>


      <div class="footer-btm">
        <div class="container">
          <div class="row">
            <div class="col-lg-12">
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                <p class="copyright">ALL REWARDS ARE CLEAR TECHNOLOGICALINC.</p>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 backtotop"> <a href="javascript:" id="return-to-top" style="">Back to top<i class="fa fa-arrow-circle-up" aria-hidden="true"></i></a> </div>
            </div>
          </div>
        </div>
      </div>

    </footer>


            <script src="js/jquery-3.2.1.min.js"></script>
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-migrate/3.0.0/jquery-migrate.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/jquery.mCustomScrollbar.concat.min.js"></script>
            <script src="js/owl.carousel.js"></script>
            <script src="js/owl.carousel.min.js"></script>
            <script src="js/jquery.flexslider.js"></script>
             

            <script type="text/javascript">

            $('#return-to-top').click(function () {      
                $('body,html').animate({
                    scrollTop: 0                      
                }, 500);
            });
            </script>
            <script>
                $(document).ready(function(){

               $('.owl-carousel').owlCarousel({
                    loop: true,
                    dots: true,
                    margin: 10,
                    responsiveClass: true,
                    responsive: {
                        0: {
                            items: 1,
                            nav: false
                        },
                        600: {
                            items: 1,
                            nav: false
                        },
                        1000: {
                            items: 1,
                            dots: true,
                            nav: false,
                            loop: false
                        }
                    }
                });
                    

              // Add smooth scrolling to all links in navbar + footer link
              $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

              // Make sure this.hash has a value before overriding default behavior
              if (this.hash !== "") {

              // Prevent default anchor click behavior
              event.preventDefault();

              // Store hash
              var hash = this.hash;

              // Using jQuery's animate() method to add smooth page scroll
              // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
              $('html, body').animate({
                  scrollTop: $(hash).offset().top
              }, 900, function(){

              // Add hash (#) to URL when done scrolling (default click behavior)
              window.location.hash = hash;
              });
              } // End if
              });
              })
              </script>
        <script src="js/slick.js"></script>
          <script type="text/javascript">
            $(document).on('ready', function() {
              $(".regular").slick({
                dots: true,
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,

                responsive: [
                    {
                      breakpoint: 1024,
                      settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1,
                       
                        dots: true
                      }
                    },
                    {
                      breakpoint: 600,
                      settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                      }
                    },
                    {
                      breakpoint: 480,
                      settings: {
                        slidesToShow: 1,
                        slidesToScroll: 1
                      }
                    }
                    // You can unslick at a given breakpoint now by adding:
                    // settings: "unslick"
                    // instead of a settings object
                  ]
              });
              
            });
          </script>
          <script >
            $(function () {
                $(".property-section").slice(0, 3).show();
                $("#loadMore").on('click', function (e) {
                    e.preventDefault();
                    $(".property-section:hidden").slice(0, 3).slideDown();
                    if ($(".property-section:hidden").length == 0) {
                        $("#load").fadeOut('slow');
                        $('#loadMore').hide();
                    }
                });
            });


            $(".start").click(function() {
                $('html,body').animate({
                    scrollTop: $("#about").offset().top},
                    'slow');
            });


                $(window).scroll(function(){
                  var sticky = $('.sticky'),
                      scroll = $(window).scrollTop();

                  if (scroll >= 100) sticky.addClass('fixed');
                  else sticky.removeClass('fixed');
                });
          </script>
          <script>
            
            $(document).ready(function(){
                $(".navbar-nav li a").on('click', function(event) {
                    if (this.hash !== "") {
                      event.preventDefault();
                      var hash = this.hash;
                      $('html, body').animate({
                        scrollTop: $(hash).offset().top
                      }, 900, function(){
                      });
                    } 
                  });
              
                $(function(){
                    $('.navbar-nav li a').click(function(){
                        $('.navbar-nav').find('li.active').removeClass('active');
                        $(this).parent().addClass('active');
                        return false; //return false to aviod scroll top.
                    });
                });
            })
            </script>
            <script>
                $(document).ready(function(){
                    $('[data-toggle="popover"]').popover();   
                });
            </script>


  




  </body>  
  </html>
