<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rose Pink Theme</title>
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link href="css/font-awesome.css" rel="stylesheet">


        <link rel="stylesheet" href="css/owl.carousel.min.css">

        <link href="css/theme.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">

    </head>
    <body>
 
 
        <header class="header" id="home">
			<div class="hdr-shade"></div>
            <div class="container-fluid menu-bar menutop-bar">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 pr">
                            <div class="top-bar">
                                <div class="col-md-2 col-sm-12">
                                    <ul>
                                        <li><span><i class="fa fa-mobile"></i></span> +923114065583</li>
                                    </ul>
                                </div>
                                <div class="col-md-4 col-sm-12">
                                    <ul>
                                        <li><span><i class="fa fa-home"></i></span> Dha phase 4 , ff block, house 43.</li>
                                    </ul>
                                </div>
                                <div class="col-md-6 col-sm-12 social-media">
                                    <ul>
                                        <li><a href=""><span><i class="fa fa-facebook"></i></span></a></li>
                                        <li><a href=""><span><i class="fa fa-google-plus"></i></span></a></li>
                                        <li><a href=""><span><i class="fa fa-twitter"></i></span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container-fluid menu-bar" id="header">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12 pr">
                            <div class="primary-menu">
                                <nav class="navbar navbar-inverse mb">

                                    <div class="container-fluid">
                                        <!-- Brand and toggle get grouped for better mobile display -->
                                        <div class="navbar-header">
                                            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                                                <span class="sr-only">Toggle navigation</span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                                <span class="icon-bar"></span>
                                            </button>
                                            <a class="navbar-brand" href=""><img src="images/logo.png"></a>
                                        </div>

                                        <!-- Collect the nav links, forms, and other content for toggling -->
                                        <div class="collapse navbar-collapse no-padding" id="bs-example-navbar-collapse-1">
                                            <ul class="nav navbar-nav">
                                                <li class="active"><a href="#home">Home</a></li>
                                                <li><a href="#ceo">CEO Message</a></li>
												<li><a href="#work">Our Work</a></li>
												<li><a href="#team">Our Team</a></li>
												<li><a href="#about">About Us</a></li>
												<li><a href="#contact">Contact</a></li>
                                                <li><a href="#office">Our Offices</a></li>
                                            </ul>
                                        </div><!-- /.navbar-collapse -->
                                    </div><!-- /.container-fluid -->


                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 banner-text">
                        <h1>We bring you the best real estate solution</h1>
                        <p>Offer you best service in lahore</p>
						<a href="">Read More</a>
                    </div>
                </div>
            </div>

        </header>



        <div class="main">

            <section class="ceo-msg-sect" id="ceo">
				<div class="container">
					<div class="row">
						<div class="col-lg-12 ceo-msg">
							<div class="col-lg-5 col-md-5 col-sm-12 pl pr ceo-img">
								<figure>
									<img class="img-responsive" src="images/ceo-img.jpg" alt="ceo-image" />
								</figure>
							</div>
							<div class="col-lg-7 col-md-7 col-sm-12 pl pr ceo-text">
								<h2>CEO's Message</h2>
								<p>535 Mission St. Suite 700, San Francisco, CA 94105 </br >Trulia, founded in San Francisco, remains nestled in the heart of the city. Overlooking the massive Transbay Terminal project, Online Property get to enjoy a state-of-the-art office building with more than 80,000 square feet of space and nearly 80 meeting rooms, </p>
							</div>
						</div>
					</div>
				</div>
            </section>


            <section class="property-sect" id="work">
				<div class="container">
					<div class="row">
						<div class="property-portion text-center">
								<h2>Our Projects</h2>
							</div>
						<div class="col-lg-12">
							<div class="owl-carousel">
								<div class="item">
									<figure>
										<div class="abc">
											<a href="#">
												<img class="img-responsive" src="images/1-pic.jpg" alt="" />
												<span class="facebook-icon">view</span>
												<div class="shades"></div>
											</a>
										</div>
									</figure>
									<h3>Beautiful House in Cantt</h3>
									<p>Rs 30,50,0000</p>
									<hr>
									<ul>
										<li><i class="fa fa-bed" aria-hidden="true"></i> 4 Bedrooms</li>
										<li><i class="fa fa-area-chart" aria-hidden="true"></i> 1200 Sqr Yrds</li>
										<li><i class="fa fa-bath" aria-hidden="true"></i> 4 Bathrooms</li>
									</ul>
								</div>
								<div class="item">
									<figure>
										<div class="abc">
											<a href="#">
												<img class="img-responsive" src="images/2-pic.jpg" alt="" />
												<span class="facebook-icon">view</span>
												<div class="shades"></div>
											</a>
										</div>
									</figure>
									<h3>Beautiful House in Cantt</h3>
									<p>Rs 30,50,0000</p>
									<hr>
									<ul>
										<li><i class="fa fa-bed" aria-hidden="true"></i> 4 Bedrooms</li>
										<li><i class="fa fa-area-chart" aria-hidden="true"></i> 1200 Sqr Yrds</li>
										<li><i class="fa fa-bath" aria-hidden="true"></i> 4 Bathrooms</li>
									</ul>
								</div>
								<div class="item">
									<figure>
										<div class="abc">
											<a href="#">
												<img class="img-responsive" src="images/3-pic.jpg" alt="" />
												<span class="facebook-icon">view</span>
												<div class="shades"></div>
											</a>
										</div>
									</figure>
									<h3>Beautiful House in Cantt</h3>
									<p>Rs 30,50,0000</p>
									<hr>
									<ul>
										<li><i class="fa fa-bed" aria-hidden="true"></i> 4 Bedrooms</li>
										<li><i class="fa fa-area-chart" aria-hidden="true"></i> 1200 Sqr Yrds</li>
										<li><i class="fa fa-bath" aria-hidden="true"></i> 4 Bathrooms</li>
									</ul>
								</div>
								<div class="item">
									<figure>
										<div class="abc">
											<a href="#">
												<img class="img-responsive" src="images/1-pic.jpg" alt="" />
												<span class="facebook-icon">view</span>
												<div class="shades"></div>
											</a>
										</div>
									</figure>
									<h3>Beautiful House in Cantt</h3>
									<p>Rs 30,50,0000</p>
									<hr>
									<ul>
										<li><i class="fa fa-bed" aria-hidden="true"></i> 4 Bedrooms</li>
										<li><i class="fa fa-area-chart" aria-hidden="true"></i> 1200 Sqr Yrds</li>
										<li><i class="fa fa-bath" aria-hidden="true"></i> 4 Bathrooms</li>
									</ul>
								</div>
								<div class="item">
									<figure>
										<div class="abc">
											<a href="#">
												<img class="img-responsive" src="images/2-pic.jpg" alt="" />
												<span class="facebook-icon">view</span>
												<div class="shades"></div>
											</a>
										</div>
									</figure>
									<h3>Beautiful House in Cantt</h3>
									<p>Rs 30,50,0000</p>
									<hr>
									<ul>
										<li><i class="fa fa-bed" aria-hidden="true"></i> 4 Bedrooms</li>
										<li><i class="fa fa-area-chart" aria-hidden="true"></i> 1200 Sqr Yrds</li>
										<li><i class="fa fa-bath" aria-hidden="true"></i> 4 Bathrooms</li>
									</ul>
								</div>
								<div class="item">
									<figure>
										<div class="abc">
											<a href="#">
												<img class="img-responsive" src="images/3-pic.jpg" alt="" />
												<span class="facebook-icon">view</span>
												<div class="shades"></div>
											</a>
										</div>
									</figure>
									<h3>Beautiful House in Cantt</h3>
									<p>Rs 30,50,0000</p>
									<hr>
									<ul>
										<li><i class="fa fa-bed" aria-hidden="true"></i> 4 Bedrooms</li>
										<li><i class="fa fa-area-chart" aria-hidden="true"></i> 1200 Sqr Yrds</li>
										<li><i class="fa fa-bath" aria-hidden="true"></i> 4 Bathrooms</li>
									</ul>
								</div>
								<div class="item">
									<figure>
										<div class="abc">
											<a href="#">
												<img class="img-responsive" src="images/1-pic.jpg" alt="" />
												<span class="facebook-icon">view</span>
												<div class="shades"></div>
											</a>
										</div>
									</figure>
									<h3>Beautiful House in Cantt</h3>
									<p>Rs 30,50,0000</p>
									<hr>
									<ul>
										<li><i class="fa fa-bed" aria-hidden="true"></i> 4 Bedrooms</li>
										<li><i class="fa fa-area-chart" aria-hidden="true"></i> 1200 Sqr Yrds</li>
										<li><i class="fa fa-bath" aria-hidden="true"></i> 4 Bathrooms</li>
									</ul>
								</div>
								<div class="item">
									<figure>
										<div class="abc">
											<a href="#">
												<img class="img-responsive" src="images/2-pic.jpg" alt="" />
												<span class="facebook-icon">view</span>
												<div class="shades"></div>
											</a>
										</div>
									</figure>
									<h3>Beautiful House in Cantt</h3>
									<p>Rs 30,50,0000</p>
									<hr>
									<ul>
										<li><i class="fa fa-bed" aria-hidden="true"></i> 4 Bedrooms</li>
										<li><i class="fa fa-area-chart" aria-hidden="true"></i> 1200 Sqr Yrds</li>
										<li><i class="fa fa-bath" aria-hidden="true"></i> 4 Bathrooms</li>
									</ul>
								</div>
								<div class="item">
									<figure>
										<div class="abc">
											<a href="#">
												<img class="img-responsive" src="images/3-pic.jpg" alt="" />
												<span class="facebook-icon">view</span>
												<div class="shades"></div>
											</a>
										</div>
									</figure>
									<h3>Beautiful House in Cantt</h3>
									<p>Rs 30,50,0000</p>
									<hr>
									<ul>
										<li><i class="fa fa-bed" aria-hidden="true"></i> 4 Bedrooms</li>
										<li><i class="fa fa-area-chart" aria-hidden="true"></i> 1200 Sqr Yrds</li>
										<li><i class="fa fa-bath" aria-hidden="true"></i> 4 Bathrooms</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
            </section>


            <section class="team" id="team">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="team-portion">
								<h2>Our Team</h2>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-adjust">
								<div class="team-section">
									<figure>
										<div class="abc">
											<a href="#">
												<img class="img-responsive" src="images/team-1.jpg" alt="ceo-image" />
												<span class="facebook-icon"><i class="fa fa-facebook"></i></span>
												<div class="shades"></div>
											</a>
										</div>
										<figcaption>
											<h2>James Morrison</h2>
											<p>Operations Manager</p>
										</figcaption>
									</figure>
								</div>

							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-adjust">
								<div class="team-section">
									<figure>
										<div class="abc">
											<a href="#">
												<img class="img-responsive" src="images/team-2.jpg" alt="ceo-image" />
												<span class="facebook-icon"><i class="fa fa-facebook"></i></span>
												<div class="shades"></div>
											</a>
										</div>
										<figcaption>
											<h2>James Morrison</h2>
											<p>Operations Manager</p>
										</figcaption>
									</figure>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-adjust">
								<div class="team-section">
									<figure>
										<div class="abc">
											<a href="#">
												<img class="img-responsive" src="images/team-3.jpg" alt="ceo-image" />
												<span class="facebook-icon"><i class="fa fa-facebook"></i></span>
												<div class="shades"></div>
											</a>
										</div>
										<figcaption>
											<h2>James Morrison</h2>
											<p>Operations Manager</p>
										</figcaption>
									</figure>
								</div>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-3 col-xs-12 padding-adjust">
								<div class="team-section">
									<figure>
										<div class="abc">
											<a href="#">
												<img class="img-responsive" src="images/team-4.jpg" alt="ceo-image" />
												<span class="facebook-icon"><i class="fa fa-facebook"></i></span>
												<div class="shades"></div>
											</a>
										</div>
										<figcaption>
											<h2>James Morrison</h2>
											<p>Operations Manager</p>
										</figcaption>
									</figure>
								</div>
							</div>
						</div>
					</div>
				</div>
            </section>

			
			<section class="tab-section" id="about">
				<div class="container" id="contact">
					<div class="row">
						<div class="col-md-12">
							<div id="tabs-data" class="container">	
								<ul  class="nav nav-pills">
									<li class="active"><a  href="#about" data-toggle="tab">About Us</a></li>
									<li><a href="#contact" data-toggle="tab">Contact Us</a></li>
								</ul>
							</div>
				        </div>
				    </div>
			    </div>
			</section>
			
			
			<section class="contact" id="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<div id="tabs-content" class="container">	
								<div class="tab-content clearfix">
								   <div class="tab-pane fade in active" id="about">
									    <h3>About Us</h3>
										<p>We pride ourselves on being excellent listeners, strong negotiators, and tireless advocates for our clients. With a reputation for hard work, client advocacy, and innovative thinking, we set the bar high for ourselves so we can deliver outstanding results for our clients. Our systems are dependable, proven, and predictable. Our integrity, follow-through, and our solution-driven approach have resulted in the majority of our clients being repeat customers or referrals. The key to our approach is the consultative nature with which we interact with our clients. We believe in education, honesty and transparency. Our name, Vantegic, stems from the words “Strategy” and “Advantage” .</p>
									</div>
									<div class="tab-pane" id="contact">
										<h3>Contact Us</h3>
										<div class="contact-form">
											<form role="form">
												<div class="form-group">
													<input type="text" class="form-control" id="name" name="name" placeholder="Name" required>
												</div>
												<div class="form-group">
													<input type="text" class="form-control" id="email" name="email" placeholder="Email" required>
												</div>
												<div class="form-group">
													<input type="text" class="form-control" id="phone" name="phone" placeholder="Phone" required>
												</div>
												<div class="form-group">
													<textarea class="form-control textarea-height" type="textarea" id="message" placeholder="Message" rows="7"></textarea>
												</div>
												<button type="button" id="submit" name="submit" class="btn btn-primary btn-contact">Send</button>
											</form>
										</div>
									</div>
								</div>
							</div>
				        </div>
				    </div>
			    </div>
			</section>
			
            <section class="footer-top" id="office">
					<div class="container">
						<div class="row">
							<div class="col-lg-12">
								<div class="col-lg-4 col-md-4 office-addresses">
									<h1>Lahore Office</h1>
									<ul>
										<li>(609) 349-6391  (609) 924-4291</li>
										<li>nicole.muk@foxroach.com</li>
										<li>Princeton Home Marketing Center 253 Nassau Street, Princeton, NJ 08540</li>
									</ul>
								</div>
								<div class="col-lg-4 col-md-4 office-addresses">
									<h1>Karachi Office</h1>
									<ul>
										<li>(609) 349-6391  (609) 924-4291</li>
										<li>nicole.muk@foxroach.com</li>
										<li>Princeton Home Marketing Center 253 Nassau Street, Princeton, NJ 08540</li>
									</ul>
								</div>
								<div class="col-lg-4 col-md-4 office-addresses">
									<h1>Islamabad Office</h1>
									<ul>
										<li>(609) 349-6391  (609) 924-4291</li>
										<li>nicole.muk@foxroach.com</li>
										<li>Princeton Home Marketing Center 253 Nassau Street, Princeton, NJ 08540</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
            </section>



        </div>



        <footer class="footer-btm">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<img src="images/logo.png" alt="" />
						<p>We pride ourselves on being excellent listeners, strong negotiators, and tireless advocates for our clients. With a reputation for hard work, client advocacy, and innovative thinking, we set the bar high for ourselves so we can deliver outstanding results for our clients. Our systems are dependable, proven, and predictable. Our integrity, follow-through, and our solution-driven approac  </p>				
					</div>
				</div>
			</div>
        </footer>


        <script src="js/jquery-3.2.1.min.js"></script>
        <script src="js/bootstrap.min.js"></script>
        <script src="js/owl.carousel.js"></script>
        <script>
            $(document).ready(function () {

                $('.owl-carousel').owlCarousel({
                    loop: true,
                    dots: false,
					nav: true,
					navText: [
					  "<i class='fa fa-chevron-left'></i>",
					  "<i class='fa fa-chevron-right'></i>"
					],
                    margin: 10,
                    responsiveClass: true,
                    responsive: {
                        0: {
                            items: 1,
                            nav: true
                        },
						580: {
                            items: 2,
                            nav: true
                        },
                        600: {
                            items: 2,
                            nav: true
                        },
                        1024: {
                            items: 3,
                            dots: false,
                            nav: true,
                            loop: false
                        }
                    }
                });

                $(function(){
					createSticky($("#header"));
				});
				function createSticky(sticky) {
					if (typeof sticky !== "undefined") {
						var	pos = sticky.offset().top,
								win = $(window);
						win.on("scroll", function() {
							win.scrollTop() >= pos ? sticky.addClass("fixed") : sticky.removeClass("fixed");      
						});			
					}
				}
            });
        </script>
		
		
		<script>
		
		$(document).ready(function(){
			$(".navbar-nav li a").on('click', function(event) {
				if (this.hash !== "") {
				  event.preventDefault();
				  var hash = this.hash;
				  $('html, body').animate({
					scrollTop: $(hash).offset().top
				  }, 900, function(){
				  });
				} 
			  });
		  
		    $(function(){
				$('.navbar-nav li a').click(function(){
					$('.navbar-nav').find('li.active').removeClass('active');
					$(this).parent().addClass('active');
					return false; //return false to aviod scroll top.
				});
			});
		})
		</script>
		
    </body>
</html>